<p>
  There are <%= @users.size %> users signed up
</p>
<table class="bordered">
  <tr>
    <th>Username/Email</th>
    <th>Created</th>
    <th>Last Touched</th>
  </tr>
<% for user in @users -%>
  <tr>
    <td>
      <%= admin_link_user(user) %><br/>
      <%=h user.email %>
    </td>
    <td nowrap><%= format_date(user.created_at,true) %></td>
    <td nowrap><%= format_datetime(user.last_touched_at) %></td>
  </tr>
<% end -%>
</table>